/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .search-icon {
        position: absolute;
        width: 45px;
        right: 45px;
        top: 0;
        bottom: 0;
        background-color: #FF4A52;
        
    }
    .search-icon{
        color: white!important;
    }
    .drop-down-menu {
        position: absolute;
        width: 45px;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #1ec6b6;
        justify-content: center;
        align-items: center;
    }

}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    nav li {
        display: inline-block;
    }
    .drop-down-menu{
        display: none!important;
    }
   /* .search-icon{
        right: 0;
    }*/
    footer{
        flex-direction: row;
        justify-content: space-evenly;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .search-icon {
        width: 100px;
    }
    .search-bar{
        flex-direction: row;
        justify-content: center;
    }
    .search-form{
        flex-direction: row;
        justify-content: center;
    }
   .newsletter-container{
       flex-direction: row;
       justify-content: center;
   }
   .mail-form{
       display: block;
   }
   .newsletter-text{
       margin-top: 0px;
       margin-right: 10px ;
   }
   .mail-form button{
       font-size: 18px;
   }
}
@media (min-width: 1580px){
    article{
        margin: 0 50px!important;
     }
}
@media (min-width: 1900px){
    article{
        margin: 0 100px!important;
     }
}