* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
img{
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: color .2s;
}

a:hover {
    color: #FF4A52;
}

li {
    list-style: none;
    cursor: pointer;
    transition: color .2s;
}

li:hover {
    color: #FF4A52;
}

ul {
    margin: 0px;
    padding: 0px;
}

.d-flex {
    display: flex!important;
}

.w-100 {
    width: 100%!important;
}

.w-50 {
    width: 50%!important;
}

.row {
    width: 100%;
    display: flex;
}

.font-15 {
    font-size: 15px!important;
}

header {
    background-color: #ffffff;
    justify-content: space-around;
    padding: 25px 0;
    position: relative;
}

nav li {
    display: none;
    margin-right: 35px;
    font-size: 1.3em;
    margin-top: 13px;
}

.search-icon {
    
    justify-content: center;
    align-items: center;
}


.search-icon a {
    color: black;
}
.drop-down-menu a {
    color: black;
}
.slider{
    background-image: url("../images/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vw;
}
.slider-text{
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 45vw;
}
.slider-text h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8vw;
    font-weight: 400;
    color: #ffffff;
    margin-top: 5vw;
}
.slider-text{
    font-size: 2vw;
    color: #ffffff;

}
.slider-text a{
    background-color: #1ec6b6;
    border: none;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    color: #ffffff;
    border-radius: 5px;
    transition: 0.5s all;
}
.slider-text a:hover{
    background-color: #FF4A52;
    color: white!important;
}
.search-bar{
    flex-direction: column;
    align-items: center;
    background-color: #040E27;
    padding: 20px 25px;
}
.search-form{
    flex-direction: column;
    align-items: center;
   width: 80%;
}
input{
    width: 100%;
    background-color: transparent;
    border: 1px solid #363E52;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 17px 50px;
    color: white;
    outline: 0;
}
.search-bar h3{
    color: white;
    font-size:20px;
    font-weight: 400;
}
.search-btn {
    background-color: #FF4A52;
    color: white;
    padding: 17px 39px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    outline: 0;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.search-btn:hover{
    background-color: #1ec6b6;
    color: white!important;
}
.popular-heading {
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.popular-title {
    font-size: 38px;
    font-weight: 400;
    color: #040E27;
    margin: 10px;
}

.popular-description {
    font-size: 16px;
    color: #7A838B;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}
.popular-countainer{
    flex-wrap: wrap;
    justify-content: center;
    
}
article img{
    margin-bottom: 20px;
    height: 280px;
}
.popular-countainer article{
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
.popular-countainer article:hover{
    transform: translateY(-10px);
}
.popular-countainer article:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(4 , 14 ,39 , 0) 0%, rgba(4 ,14 ,39 , .7) 100% );
    width: 100%;
    height:92.4%;
    z-index: 1000;
    border-radius: 5px;

}
.popular-image-info{
    position: absolute;
    left: 30px;
    bottom: 50px;
    z-index: 10000;
}
.popular-image-info p{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    transition:  0.3s;
}
.popular-image-info a{
    background-color: #1ec6b6;
    border-radius: 30px;
    margin-left: 10px;
    padding: 7px 12px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}
.popular-countainer article:hover .popular-image-info p{
    color: #FF4A52;
    transition: 0.3s;
}
.popular-countainer article:hover .popular-image-info a{
    background-color: #FF4A52;
    transition: 0.3s;
}
.newsletter{
    background-image: url('../images/newsletter.png');
    background-position: 65% 65%;
    background-size: cover;
    height: 250px;
    position: relative;
}
.newsletter-container{
    flex-direction: column;
    align-items: center;
    z-index: 10000;
}
.newsletter-text{
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    text-align: center;
}
.newsletter::before{
    position: absolute;
    content: '';
    background-color: #040E27;
    opacity: .7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.newsletter-text h4{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}
.newsletter-text p{
    color: #AAB1B7;
    font-size: 14px;
    font-weight: 400;
}
.mail-form{
  display: flex;
   flex-direction: column; 
}
.mail-form input{
    background-color: #fff;
    border-radius: 5px;
    border: 0;
    padding-left: 15px;
    color: #000;
    width: 40vw;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
}
.newsletter-btn{
    background-color: #FF4A52;
    font-size: 16px;
    padding: 16px 10px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}
.video{
    background-image: url('../images/video.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 130px 0;
    margin: 15px 0;
    width: 100%;
    position: relative;
}
.video::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #040E27;
    width: 100%;
    height:100%;
    opacity: .2;
   /* z-index: 1000;*/
}
.video-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
}
.video-container h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 7vw;
    margin-bottom: 15px;
    color: #fff;
}
.video-btn{
    background-color: #1ec6b6;
    width: 85px;
    height: 85px;
    border-radius: 50% ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.5s;
    margin-top: 15px;
}
.video-btn a{
    color: #fff;
}
.video-btn:hover{
    background-color: #FF4A52;
}
footer{
    background-color: #040E27;
    padding: 60px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-info li{
    line-height: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #AAB1B7;
}
.footer-title{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.links{
    text-align: center;
}
.links li{
    width: 50%;
    float: left;
    line-height: 35px;
}
.links li a{
    color: #AAB1B7;
}
.links li a:hover{
    color: #FF4A52;
}
.left-footer{
    margin-bottom: 30px ;
}
.right-footer{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}







@font-face {
    font-family: "Niconne-Regular";
    src: url('../font/Niconne-Regular.ttf') format('.ttf');
  }